@font-face {
  font-family: "Lato lighter";
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Lato regular";
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato bold";
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato black";
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}



@font-face {
  font-family: 'singolo';
  src: url('assets/fonts/singolo.eot?49811475');
  src: url('assets/fonts/singolo.eot?49811475#iefix') format('embedded-opentype'),
       url('assets/fonts/singolo.woff2?49811475') format('woff2'),
       url('assets/fonts/singolo.woff?49811475') format('woff'),
       url('assets/fonts/singolo.ttf?49811475') format('truetype'),
       url('assets/fonts/singolo.svg?49811475#singolo') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class*="icon-"] {
  font-family: "singolo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* singolo2 start */
@font-face {
  font-family: 'singolo2';
  src: url('assets/fonts/singolo2.eot?92990758');
  src: url('assets/fonts/singolo2.eot?92990758#iefix') format('embedded-opentype'),
       url('assets/fonts/singolo2.woff2?92990758') format('woff2'),
       url('assets/fonts/singolo2.woff?92990758') format('woff'),
       url('assets/fonts/singolo2.ttf?92990758') format('truetype'),
       url('assets/fonts/singolo2.svg?92990758#singolo2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'singolo2';
    src: url('../font/singolo2.svg?92990758#singolo2') format('svg');
  }
}
*/
 
 [class*="social-icon "],
 [class*="contact-icon "] {
  font-family: "singolo2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
/* .icon-twitter:before { content: '\f309'; }*/     /* '' */
/* .icon-facebook:before { content: '\f30c'; }*/    /* '' */
/* .icon-gplus:before { content: '\f30f'; }*/       /* '' */
/* .icon-linkedin:before { content: '\f318'; }*/    /* '' */